
*.xcuserstate

numgame.xcodeproj/xcuserdata/baidu.xcuserdatad/xcschemes/numgame.xcscheme

numgame.xcodeproj/xcuserdata/baidu.xcuserdatad/xcschemes/xcschememanagement.plist

numgame.xcodeproj/xcuserdata/lanstonpeng.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

numgame.xcodeproj/xcuserdata/lanstonpeng.xcuserdatad/xcschemes/numgame.xcscheme

numgame.xcodeproj/xcuserdata/lanstonpeng.xcuserdatad/xcschemes/xcschememanagement.plist

numgame.xcodeproj/project.xcworkspace/xcuserdata/charsunny.xcuserdatad/UserInterfaceState.xcuserstate

numgame.xcodeproj/project.xcworkspace/xcuserdata/charsunny.xcuserdatad/UserInterfaceState.xcuserstate
