
*.xcuserstate

numgame.xcodeproj/xcuserdata/baidu.xcuserdatad/xcschemes/numgame.xcscheme

numgame.xcodeproj/xcuserdata/baidu.xcuserdatad/xcschemes/xcschememanagement.plist

numgame.xcodeproj/xcuserdata/lanstonpeng.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

numgame.xcodeproj/xcuserdata/lanstonpeng.xcuserdatad/xcschemes/numgame.xcscheme

numgame.xcodeproj/xcuserdata/lanstonpeng.xcuserdatad/xcschemes/xcschememanagement.plist

numgame.xcodeproj/project.xcworkspace/xcuserdata/charsunny.xcuserdatad/UserInterfaceState.xcuserstate

numgame.xcodeproj/project.xcworkspace/xcuserdata/charsunny.xcuserdatad/UserInterfaceState.xcuserstate

DerivedData/numgame/Index/Debug/iphonesimulator7.1-i386/numgame.xcindex/db.xcindexdb.strings-cmp

DerivedData/ModuleCache/2RZC28RRI19LL/CFNetwork.pcm

*.pcm

DerivedData/numgame/TextIndex/text-index.idx

DerivedData/ModuleCache/2RZC28RRI19LL/modules.idx

DerivedData/ModuleCache/3IZ7SG057BGOE/modules.idx

DerivedData/ModuleCache/modules.timestamp

DerivedData/numgame/Build/Intermediates/numgame.build/Debug-iphonesimulator/numgame.build/numgame-all-target-headers.hmap

DerivedData/numgame/Build/Intermediates/numgame.build/Debug-iphonesimulator/numgame.build/numgame-generated-files.hmap

DerivedData/numgame/Build/Intermediates/numgame.build/Debug-iphonesimulator/numgame.build/numgame-own-target-headers.hmap

DerivedData/numgame/Build/Intermediates/numgame.build/Debug-iphonesimulator/numgame.build/numgame-project-headers.hmap

DerivedData/numgame/Build/Intermediates/numgame.build/Debug-iphonesimulator/numgame.build/numgame.hmap

DerivedData/numgame/Build/Intermediates/numgame.build/Debug-iphonesimulator/numgameTests.build/numgameTests-all-target-headers.hmap

DerivedData/numgame/Build/Intermediates/numgame.build/Debug-iphonesimulator/numgameTests.build/numgameTests-generated-files.hmap

*.hmap

*.idx

numgame.xcodeproj/xcuserdata/charsunny.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
