<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>score</key>
		<string>50</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>100</string>
		<key>step</key>
		<string>15</string>
	</dict>
	<dict>
		<key>score</key>
		<string>150</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>200</string>
		<key>step</key>
		<string>25</string>
	</dict>
	<dict>
		<key>score</key>
		<string>250</string>
		<key>step</key>
		<string>30</string>
	</dict>
	<dict>
		<key>score</key>
		<string>300</string>
		<key>step</key>
		<string>35</string>
	</dict>
	<dict>
		<key>score</key>
		<string>350</string>
		<key>step</key>
		<string>40</string>
	</dict>
	<dict>
		<key>score</key>
		<string>400</string>
		<key>step</key>
		<string>45</string>
	</dict>
	<dict>
		<key>score</key>
		<string>450</string>
		<key>step</key>
		<string>50</string>
	</dict>
	<dict>
		<key>score</key>
		<string>500</string>
		<key>step</key>
		<string>55</string>
	</dict>
</array>
</plist>
