<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>score</key>
		<string>100</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>1000</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>1500</string>
		<key>step</key>
		<string>10</string>
	</dict>
	<dict>
		<key>score</key>
		<string>2000</string>
		<key>step</key>
		<string>15</string>
	</dict>
	<dict>
		<key>score</key>
		<string>3000</string>
		<key>step</key>
		<string>15</string>
	</dict>
	<dict>
		<key>score</key>
		<string>4000</string>
		<key>step</key>
		<string>15</string>
	</dict>
	<dict>
		<key>score</key>
		<string>5000</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>7500</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>10000</string>
		<key>step</key>
		<string>20</string>
	</dict>
	<dict>
		<key>score</key>
		<string>125000</string>
		<key>step</key>
		<string>20</string>
	</dict>
</array>
</plist>
